.generated-recipe-body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.form-select {
    flex: 1;
    min-width: 50px;
    max-width: 100px;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 0.75rem;
    cursor: pointer;
}
.form-select-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%; 
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.generated-recipe-header {
    background-color: #8faa67;
    position: relative;
}
.generated-recipe-header-container {
    padding: 5rem 10rem;
    
}
.generated-recipe-header-container h1 {
    color: white;
    font-size: 3.5rem;
    font-family: Lora;
}
.generated-recipe-header-container h2 {
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
}
.recipe-tags-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px; 
}
.recipe-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 99px;
    padding: 8px 12px;
    height: 40%;
    
}
.recipe-tag i {
    font-size: 20px;
    color: white;
}
.recipe-tag-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.recipe-tag div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.tag-title{
    font-size: 12px;
    color: white;
}
.tag-value {
    font-size: 15px;
    color: white;
}
.generated-recipe-content {
    display: flex;
    padding: 0rem 10rem;
    gap: 3rem;
}
.generated-recipe-ingredients  {
    background-color: white;
    width: fit-content;
    padding: 3rem 2rem;
    border-radius: 18px;
   
}
.generated-recipe-directions {
    background-color: white;
    width: fit-content;
    padding: 3rem 2rem;
    border-radius: 18px;
 
}

.generated-recipe-ingredients h4 {
    font-size: 2.5rem;
    font-family: Lora;

   
}
.generated-recipe-directions h4 {
    font-size: 2.5rem;
    font-family: Lora;
}

.back-btn{
    position: absolute;
    top: 1.2rem;
    left: 10rem;
}
.back-btn i{
    font-size: 2rem;
    color: white;
}

.pdf-btn {
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    padding: 5px 14px;
    border-radius: 990px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.pdf-btn:hover {
    background-color: white;
    color: #8faa67;
}

.pdf-btn i {
    margin-right: 3px;
}

.ai-disclaimer {
    font-size: 0.9rem;
    color: gray;
    width: 35%;
    text-align: center;
    margin-top:1rem;
}

@media (max-width: 768px){
    .ai-disclaimer {
        width: 90%;
        margin-top: 0;
    }
    .generated-recipe-header-container{
        padding: 3rem 5rem;
    }
    .generated-recipe-header-container h1 {

        font-size: 2.5rem;

    }

    .generated-recipe-header-container h2 {
        font-size: 1.2rem;
    }

    .recipe-tag i {
        font-size: 18px;
      
    }
    .back-btn {
        left: 5rem;
        top: 0.3rem;
    }
    .generated-recipe-content {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        gap: 1rem;
        
    }

    .generated-recipe-ingredients {
        width: 100%;
    }
    .generated-recipe-body {
        gap: 1rem;
    }
}