.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
    padding: 4rem 0rem;
}
.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1b2628;
}
