services:
  recipedia:
    build: .
    container_name: recipedia
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Authentication__Google__ClientId=
      - Authentication__Google__ClientSecret=
      - Gemini__ApiKey=
      - Gemini__BaseUrl=
      - GoogleCSE__ApiKey=
      - GoogleCSE__CseId=
      - Spoonacular__ApiKey=
    volumes:
      - recipedia-keys:/root/.aspnet/DataProtection-Keys
      - recipedia-data:/app/data

volumes:
  recipedia-keys:
  recipedia-data:
