@model IEnumerable<Recipedia.Models.WebRecipeResultDTO>?

<div class="home-wrapper">
    <div class="input-container">
        <div class="input-header">
            <h1>What's in Your Kitchen?</h1>
            <p>Type in your ingredients and we’ll find recipes you can make right now. No registration is required. Free, quick, and online.</p>
        </div>

        <form asp-action="Search" method="post" id="searchForm" class="search-form">
            <div class="ingredient-textarea">
                <div class="textarea-content">             
                    <div id="tagInput"
                         class="editable"
                         contenteditable="true"
                         data-placeholder="Type your ingredients and press Enter to add them here"></div>
                    <div id="tagsContainer"></div>
                </div>

                <button type="submit" class="btn-submit">Search</button>
            </div>

            <input type="hidden" id="tagsHidden" name="ingredients" />
        </form>
        <script src="~/js/tagsInput.js"></script>
    </div>

    @if (Model != null && Model.Any())
    {
        <h3 class="mt-4">Results</h3>
        <div class="recipe-grid">
            @foreach (var recipe in Model)
            {
                <div class="recipe-card">
                    <img src="@recipe.ImageUrl" alt="@recipe.Title" />
                    <h4>@recipe.Title</h4>
                    <a href="@recipe.Url" target="_blank" class="btn-go">Go to Recipe</a>
                </div>
            }
        </div>
    }
</div>
