@model IEnumerable<Recipedia.Models.Recipe>

<h2>Recipes</h2>

<div class="recipe-grid">
    @foreach (var recipe in Model)
    {
        //If no image is set, use the default
        var imageUrl = string.IsNullOrEmpty(recipe.ImageUrl)
        ? Url.Content("~/Images/meal-icon.png") 
        : Url.Content(recipe.ImageUrl);

        <div class="recipe-card" style="background-image: url('@imageUrl')">
            <div class="recipe-overlay">
                <h3>
                    <a asp-action="RecipeDetails" asp-route-id="@recipe.Id">
                        @recipe.Title
                    </a>
                </h3>
            </div>
        </div>
    }
</div>